.element__like {
  margin: auto 20px 37px auto;
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/Like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFF;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

.element__like:hover {
  opacity: 50%;
}

.element__like_active {
  background-image: url(../../../images/LikeActive.svg);
  opacity: 1;
}