.element__figure {
    margin: 0;
    padding: 0;
    display: grid;
}

.element__trash {
    padding: 0;
    background-image: url(../mesto/images/Trash.svg);
    max-width: 19px;
    max-height: 19px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    opacity: 1;
}