
.page {
margin: 0 auto;
background-color: #000;
font-family: 'Inter-Regular', 'Helvetica Neue', 'Arial', sans-serif;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
text-rendering: optimizeLegibility;
}

.header {
margin: 45px auto 0;
max-width: 880px;
min-height: 75px;
border-bottom: 1px solid rgb(84, 84, 84, .7);
background-image: url(../mesto/images/logo.svg);
object-fit: cover;
background-repeat: no-repeat;
background-position: top left;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  .header {  
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .header {
      margin: 0 auto;
      padding: 0 27px 28px;
      max-width: 320px;
      background-size: 103px 24px;
      min-height: 56px;
      background-position: 27px 28px;
    }
  }

.content {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
    .content {
    margin: 0 auto;
  max-width: 581px;

    }
}

.profile-info {
    margin: 0 auto;
    padding: 40px 0 0;
   display: grid;
   grid-template-columns: min-content max-content min-content auto ;
   grid-template-rows: repeat(2, min-content);
   grid-template-areas: 
   "avatar name edit add"
   "avatar hobby . add";
}

@media screen and (max-width: 620px) {
    .profile-info {
        padding: 42px 0 0;  
        justify-content: center;
        align-items: center;
        grid-template-areas: 
   "avatar avatar"
   "name edit"
   "hobby hobby"
   "add add";
    }
}


.profile-info__avatar {
  margin: 0 30px 0 0;
  background-image: url(../mesto/images/avatar.jpg);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  grid-area: avatar;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
    .profile-info__avatar {
        margin: 0;
        align-self: center;
        justify-self: center;
    }
}

.profile-info__name {
    margin: 0;
    font-family: 'Inter-Medium';
    line-height: 48px;
    font-size: 42px;
    font-weight: 500;
    color: #FFF;
   grid-area: name;
   align-self: flex-end;
   justify-self: center;
}

@media screen and (max-width: 620px) {
.profile-info__name {
    justify-self: end;
}
}

@media screen and (max-width: 920px) {
    .profile-info__name {
        margin-top: 26px;
        line-height: 33px;
        font-size: 27px;
        width: max-content;
        
    }
}

.profile-info__profession {
    margin: 16px 0 0;
    color: #FFF;
    font-family: 'Inter-Regular';
    line-height: 21.78px;
    font-size: 18px;
    font-weight: 400;
    grid-area: hobby;
   
}
@media screen and (max-width: 920px) {
    .profile-info__profession {
        margin: 14px auto 36px;
        line-height: 17px;
        font-size: 14px;
        width: max-content;
        align-self: center;
        justify-self: center;
    }}


.profile-info__edit-button {
    background-image: url(../mesto/images/Edit\ Button.svg);
    margin: 0 0 10px 18px; 
    padding: 0;
 background-color: #000;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  grid-area: edit;
  align-self: end;
}

@media screen and (max-width: 920px) {
    .profile-info__edit-button {
        margin: 0 0 3px 10px;
        justify-self: start;
    }}

.profile-info__edit-button:hover {
    opacity: 60%;
    transition: 2s;
}

.profile-info__add-button {
    padding: 0;
    margin: 0 auto;
    background-image: url(../mesto/images/Add\ Button\ big.svg);
    background-repeat: no-repeat;
    background-color: #000;
    width: 100%;
    min-width: 282px;
    height: 50px;
    border: none;
    cursor: pointer;
    grid-area: add;
    justify-self: center;
    align-self: center;
    
}

@media screen and (min-width: 621px) {
    .profile-info__add-button {
        margin: 0;
        background-image: url(../mesto/images/Add\ Button.svg);
        width: 150px;
        min-width: 150px;
       background-position: right;
       justify-self: end;
    }
}

.profile-info__add-button:hover {
    opacity: 60%;
    transition: 2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 50%);
}

.popup_opened {
    display: flex;
  }

.popup-form {
   
    background-color: #FFF;
  border-radius: 10px;
  max-width: 430px;
  min-height: 251px;
  max-height: 330px;
  margin: auto;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 500px) {
    .popup-form {
        max-width: 238px;
        padding: 25px 22px;
   
    }
}

.popup-form__heading {
    font-family: 'Inter-Black';
    margin: 0 0 39px;
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
}

@media screen and (max-width: 620px) {
    .popup-form__heading {
        line-height: 22px;
        font-size: 18px;
        margin: 0 0 60px;
    }}

.popup-container {
    margin: auto;
    padding: 0;
    position: relative;
    min-width: 210px;
    max-width: 430px;

}
@media screen and (max-width: 620px) {
    .popup__container {
        max-width: 282px;
       
    }
}
    

.popup__closed {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 5;
    
}

.popup__closed:hover {
  opacity: 60%;
    transition: 2s;
}


@media screen and (max-width: 620px) {
    .popup__closed {
        width: 20px;
        height: 20px;
        right: 0;
    }
}

.popup-item {
    margin: 15px auto;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 20%);
    border-top: none;
    border-left: none;
    border-right: none;
width: 100%;
height: 27px;
line-height: 16.94px;
font-size: 14px;
font-weight: 400;
color: #000;
}



.popup-item_name {}
.popup-item_hobby {}

.popup-form__save-button {
    padding: 0;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    line-height: 21.78px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    margin: 33px auto 0;
    cursor: pointer;
    color: white;
    background-color: #000;
}

.popup-form__save-button:hover {
    opacity: 60%;
    transition: 2s;
}

@media screen and (max-width: 500px) {
.popup-form__save-button {
    margin-top: 30px;
    height: 46px;
}
}

.elements {   
margin: 50px auto 0;
padding: 0;
display: grid;
grid-template-columns: repeat(auto-fit, 282px);
grid-template-rows: repeat(2, 361px);
gap: 20px 17px;
justify-content: center;
}

@media screen and (max-width: 621px) {
.elements {
    margin: 36px 19px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
}

.element {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, minmax(0, min-content));
    grid-template-areas: 
"pic pic"
"place like";
row-gap: 25px;
width: 282px;
height: 361px;
}



.element__pic {
    margin: 0;
    padding: 0;
    max-height: 282px;
    grid-area: pic;
}

.element__text {
    margin: 0;
    padding-left: 21px;
    font-family: 'Inter-Black';
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
    color: #000;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 192px;
    grid-area: place;
    justify-self: start;
    align-self: end;
}

.element__like {
    margin-right: 30px;
    padding: 0;
    background-repeat: no-repeat;
    justify-self: end;
    align-self: center;
grid-area: like;
min-width: 22px;
min-height: 19px;
background-image: url(../mesto/images/Like.svg);
background-size: cover;
border: 0;
background-color: #FFF;
cursor: pointer;
opacity: 1;
}

.element__like:hover {
    opacity: 50%;
}

.element__like:active {
background-image: url(../mesto/images/LikeActive.svg);
opacity: 1;

}


.footer {
    margin: 66px auto 60px;
    max-width: 880px;
}

@media screen and (max-width: 620px) {
    .footer {
        max-width: 282px;
    }
}

@media screen and (min-width: 621px) and (max-width: 920px) {
    .footer {
        padding: 48px 19px 36px;
        margin: 0 auto;
        max-width: 581px;
    }
}

.footer__copyright {
    color: #545454;
font-family: 'Inter-Regular';
line-height: 21.78px;
font-size: 18px;
font-weight: 400;
}






