.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  background-color: #FFF;
  margin: auto;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 620px) {
  .popup-form {
    width: 100%;
    padding: 25px 22px;
  }
}